__pycache__/
builddir/
.vscode/
.spyproject/
*.so
*~
_version.py
_version.pyi

# Apple debugging symbol files
*.dSYM

# Documentation ignores
docs/_build/
docs/xml/

# C++ source ignores
*.gcda
*.gcno
*.o
.clangd

subprojects/*/
benchmark/benchmark.png
