CompileFlags:
    Add: [
      -std=c++17,
      -Wall,
      -Wextra,
      -Wpedantic,
      -Wno-deprecated,
      -D _IS_APYTYPES_UNIT_TEST,
      -I test/,
      -I/usr/include/python3.10,
    ]
