# Binary files
*.o
test/test_apyfixed
test/test_apytypes_util

# Valgrind (callgrind) profiling
callgrind.out.*

# Apple debuging symbol files
*.dSYM

# Coverage files
coverage/
coverage.info
*.gcda
*.gcno
