# Binary files
*.o
test/test_apy_fixed
test/test_apy_util

# Valgrind (callgrind) profiling
callgrind.out.*

# Apple debuging symbol files
*.dSYM

# Coverage files
coverage/
coverage.info
*.gcda
*.gcno
