name: Coverage

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get install -yy lcov
        python -m pip install pytest-cov gcovr
    - name: Install APyTypes
      run: |
        export CPPFLAGS='--coverage -fprofile-abs-path'
        python -m pip install -v .[test]
        unset CPPFLAGS
    - name: Test with pytest
      run: |
        pytest --cov-report=xml --cov=lib --log-level=DEBUG --color=yes
    - name: Format coverage data
      run: |
        # lcov --rc lcov_branch_coverage=1 --capture --directory . \
        #  --output-file coverage.info
        # lcov --rc lcov_branch_coverage=1 --output-file coverage.info \
        #  --extract coverage.info $PWD/src/'*' $PWD/lib/'*'
        # lcov --rc lcov_branch_coverage=1 --list coverage.info
        # find . -name '*.gc*' -delete
        gcovr --xml-pretty --exclude-unreachable-branches --print-summary -o coverage.xml --root ${PWD}
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
