name: Stub and doc tests
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      fail-fast: false
    runs-on: "ubuntu-latest"

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      with:
        fetch-depth: 0
        persist-credentials: false
    - name: Set up Python 3.10
      uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38  # v5.4.0
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install numpy nanobind pytest typing-extensions ruff
    - name: Install APyTypes
      run: |
        git fetch --tags
        python -m pip install --no-deps -v .
    - name: Create and check stubs
      # uses: nickcharlton/diff-check@main
      # with:
      #   command: |
      #     ./stubgen.sh
      #     ruff format lib/apytypes/*.pyi
      run: |
        ./stubgen.sh
        ruff format lib/apytypes/*.pyi
        git diff
    - name: Test with doctest
      run: |
        python -m doctest lib/apytypes/*.pyi
