name: Stub and doc tests
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true
permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      fail-fast: false
    runs-on: "ubuntu-latest"

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      with:
        fetch-tags: true
        fetch-depth: 0
        persist-credentials: false
    - name: Set up Python 3.10
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install numpy "nanobind==2.9.2" pytest typing-extensions ruff
    - name: Install APyTypes
      run: |
        git fetch --tags
        python -m pip install --no-deps -v .
    - name: Create and check stubs
      uses: nickcharlton/diff-check@9fa7ac2bd275b9ec60f13dbcef1b90cfaadc1872  # v1.0.0
      with:
        command: |
          ./stubgen.sh
          ruff format lib/apytypes/*.pyi
          ruff check --fix
          git diff
    - name: Test with doctest
      run: |
        python -m doctest lib/apytypes/_apytypes.pyi lib/apytypes/_array_functions.py lib/apytypes/_utils.py  lib/apytypes/vhdl.py
