#
# This workflow will build APyTypes in debug mode and run Valgrind memcheck on the
# test suite.
#
# For more information see:
# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python
#


name: Unit tests (debug memcheck)
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true

permissions:
  contents: read

on:
  # Save CI by only running this on release branches or tags.
  push:
    branches:
      - main
      - v[0-9]+.[0-9]+.x
    tags:
      - v*
  # Also allow running this action on PRs if requested by applying the
  # "Run cibuildwheel" label.
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - labeled

jobs:
  build:
    name: Run tests in Valgrind memcheck (debug build)
    if: >-
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')) ||
      github.event_name == 'pull_request' && (
        (
          github.event.action == 'labeled' &&
          github.event.label.name == 'CI: Run memcheck'
        ) ||
        contains(github.event.pull_request.labels.*.name,
                 'CI: Run memcheck')
      )
    strategy:
      fail-fast: false
      matrix:
        limb-size: ["32", "64"]
    runs-on: "ubuntu-24.04"

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      with:
        fetch-depth: 0
        fetch-tags: true
        persist-credentials: false
    - name: Set up Python 3.11
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get -y install ninja-build valgrind
        python -m pip install --upgrade pip
        python -m pip install pytest numpy "meson>=1.10.1" meson-python setuptools_scm
    - name: Install APyTypes (debug mode)
      run: |
        git fetch --tags
        python -m pip install -e . -v --no-build-isolation   \
          -Csetup-args='-Dbuildtype=debug'                   \
          -Csetup-args='-Dlimb_size=${{ matrix.limb-size }}' \
          -Cbuild-dir=build-dbg
    - name: Run the test suite in Valgrind memcheck
      run: |
        valgrind                      \
          --gen-suppressions=all      \
          --error-exitcode=1          \
          pytest --color=yes lib/test
