#
# This workflow will run the APyTypes test suite including the cocotb and VHDL generation examples.
#
# For more information see:
# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python
#


name: Unit tests (cocotb examples)
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      fail-fast: false
    runs-on: "ubuntu-latest"

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      with:
        fetch-depth: 0
        persist-credentials: false
    - uses: nickg/setup-nvc-ci@40dcbd31cf07b60479a31f94a5df70c0bfbb9ce5  # v1v1
      with:
        version: latest
    - name: Check simulator installation
      run: |
        nvc --version # Make sure nvc was installed successfully
    - name: Set up Python 3.10
      uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b  # v5.3.0
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest numpy meson-python setuptools_scm cocotb pytest-cov ninja
    - name: Install APyTypes
      run: |
        git fetch --tags
        python -m pip install --no-deps --no-build-isolation -v --editable .
    - name: Test with pytest
      run: |
        pytest --color=yes --cov=lib --log-level=DEBUG lib/test
    - name: Upload coverage reports to Codecov
      if: ${{ !cancelled()}}
      uses: codecov/codecov-action@13ce06bfc6bbe3ecf90edbbf1bc32fe5978ca1d3  # v5.3.1
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
