#
# This workflow will install the minimum required Python dependencies and run the
# APyTypes test suite.
#
# For more information see:
# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python
#


name: Unit tests (minimum dependencies)
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true

permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      fail-fast: false
    runs-on: "ubuntu-latest"

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      with:
        fetch-depth: 0
        fetch-tags: true
        persist-credentials: false
    - name: Set up Python 3.10
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest
    - name: Install APyTypes
      run: |
        git fetch --tags
        python -m pip install --no-deps -v .
    - name: Test with pytest
      run: |
        pytest --color=yes lib/test
