#
# This workflow will run the APyTypes test suite including the cocotb, VHDL generation, and VUnit tests.
#
# For more information see:
# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python
#


name: Unit tests (cocotb examples)
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true

permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      fail-fast: false
    runs-on: "ubuntu-latest"

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      with:
        fetch-depth: 0
        fetch-tags: true
        persist-credentials: false
    # - uses: nickg/setup-nvc@40dcbd31cf07b60479a31f94a5df70c0bfbb9ce5  # v1v1
    - uses: nickg/setup-nvc@master  # v1v1
      with:
        version: latest
    - name: Check simulator installation
      run: |
        nvc --version # Make sure nvc was installed successfully
    - name: Install nvc packages
      run: |
        nvc --install osvvm vunit
    - name: Set up Python 3.10
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest numpy "meson>=1.10.1" meson-python setuptools_scm cocotb pytest-cov ninja vunit-hdl
    - name: Install APyTypes
      run: |
        git fetch --tags
        python -m pip install --no-deps --no-build-isolation -v --editable .
    - name: Test with pytest
      run: |
        pytest --color=yes --cov=lib --log-level=DEBUG lib/test
    - name: Upload coverage reports to Codecov
      if: ${{ !cancelled()}}
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de  # v5.5.2
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
