name: Unit tests (32-bit build + coverage)
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      fail-fast: false
    runs-on: "ubuntu-latest"

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      with:
        fetch-depth: 0
        persist-credentials: false
    - name: Set up Python 3.10
      uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55  # v5.5.0
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        sudo apt-get install -yy lcov
        python -m pip install --upgrade pip
        python -m pip install pytest-cov gcovr ninja meson-python numpy setuptools_scm
    - name: Install APyTypes
      run: |
        git fetch --tags
        export CPPFLAGS='-O0 --coverage -fprofile-abs-path'
        python -m pip install --no-deps --no-build-isolation -v --editable . --config-settings=setup-args="-Dlimb_size=32"
        unset CPPFLAGS
    - name: Test with pytest
      run: |
        pytest lib/test --cov-report=xml --cov=lib --log-level=DEBUG --color=yes
    - name: Format coverage data
      if: ${{ !cancelled()}}
      run: |
        lcov --rc branch_coverage=1 --rc geninfo_unexecuted_blocks=1 \
          --ignore-errors mismatch,mismatch --ignore-errors unused \
          --ignore-errors mismatch --capture --directory . \
          --output-file coverage.info
        lcov --rc branch_coverage=1 --rc geninfo_unexecuted_blocks=1 \
          --ignore-errors mismatch,mismatch --ignore-errors unused \
          --ignore-errors mismatch --extract coverage.info $PWD/src/'*'
        lcov --rc branch_coverage=1 --rc geninfo_unexecuted_blocks=1 \
          --ignore-errors mismatch,mismatch --ignore-errors unused \
          --ignore-errors mismatch --list coverage.info
        find . -name '*.gc*' -delete
        # gcovr --xml-pretty --exclude-unreachable-branches --print-summary -o cobertura.xml --root $PWD
    - name: Upload coverage reports to Codecov
      if: ${{ !cancelled()}}
      uses: codecov/codecov-action@0565863a31f2c772f9f0395002a31e3f06189574  # v5.4.0
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
